<h1>Pre-order Shoo</h1>
<p>
  Please place your order for below
</p>

<form action="/shoo" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="address">Address:</label>
  <input type="test" name="address">

  <label for="size">Size:</label>
    <select name="size">
      <option value="7" >7</option>
      <option value="8" >8</option>
      <option value="9" >9</option>
      <option value="10" >10</option>
      <option value="11" >11</option>
    </select>

</form>
